{% extends 'base.html' %}
{% block content %}

<div class='container'>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
    <div class="d-flex flex-column align-items-center ">
        <div class="card w-75 my-5 text-center shadow-lg" style="max-width:700px">
            
            {% if like_state  %}
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                You liked the tweet!
                </div>
            </div>
            {% else %}
            {% if like_state is none  %}
            {% else %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                    You didn't like this tweet!
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% if follow_state %}
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                You followed the account!
                </div>
            </div>
            {% else %}
            {% if follow_state is none  %}
            {% else %}

            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                    You didn't follow the account!
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% if retweet_state %}
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                You retweeted this tweet!
                </div>
            </div>
            {% else %}
            {% if retweet_state is none %}
            {% else %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                    You didn't retweet the tweet!
                </div>
            </div>
            {% endif %}
            {% endif %}

            {% if followers_state %}
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                    You have the minimum number of followers!
                </div>
            </div>
            {% else %}
            {% if followers_state is none %}
            {% else %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                    You dont have the minimum number of followers!
                </div>
            </div>
            {% endif %}
            {% endif %}

            
            {% if comment_state %}
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                    You commented on the tweet!
                </div>
            </div>
            {% else %}
            {% if comment_state is none %}
            {% else %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                    You didnt comment on the tweet! (Make sure the tweet is the last thing you interacted with before registering for the project)
                </div>
            </div>
            {% endif %}
            {% endif %}

            {% if year_state %}
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                Your account met the minimum creation year requirement!
                </div>
            </div>
            {% else %}
            {% if year_state is none %}
            {% else %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                    Your account doesnt meet the minimum creation year requirement!
                </div>
            </div>
            {% endif %}
            {% endif %}
            <img src="{{context.project_image.url}}" class="card-img-top" alt="..."/>
            <div class="card-header">
                
                {{context.project_name}}
            </div>
            <p class="card-text"> {{project.project_description}} </p>
        </div>
    </div>
</div>
{% endblock %}