{% extends 'base.html' %}

{% block title %}
Home
{% endblock  %}
{% block content %}

{% for project in context  %}
<div class='container my-5'>
  <div class="card text-center">
    <img src="{{project.project_image}}" class="card-img-top" alt="...">
    <div class="card-header">
      {{project.project_name}}
    </div>

    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text"> {{project.project_description}} </p>
      <a href="/project/{{project.project_id}}" class="btn btn-primary">Check out</a>
    </div>
    <div class="card-footer text-muted">
      {{project.project_date}}
    </div>
  </div>
</div>
{% endfor %}



{% endblock  %}