{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
Home
{% endblock  %}
{% block content %}
{% comment %} <div class="container my-5">
  <div class="d-flex flex-column align-items-center ">
    {% for project in context  %}
        <div class="card my-5 text-center shadow-lg">
          <img class="card_img card-img-top" src="{% thumbnail project.project_image '600x400' as im %}{{ im.url }}{% endthumbnail %}" alt="{{project.project_name}} dropmint project image"/>
          <div class="card-header">
            {{project.project_name}}
          </div>

          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text"> {{project.project_description}} </p>
            <a href="/project/{{project.project_id}}" class="btn btn-primary">Check out</a>
          </div>
          <div class="card-footer text-muted">
            {{project.project_date}}
          </div>
        </div>
    {% endfor %}
  </div>
</div> {% endcomment %}
<div class="container my-5">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
      </svg>
  <div id='projects' class="container-fluid d-flex flex-row flex-wrap justify-content-around align-items-center">
    {% for project in page_obj  %}
        <div class="card my-5 text-center shadow-lg p-2">
          <img class="card_img card-img-top" src="{% thumbnail project.project_image '600x400' as im %}{{ im.url }}{% endthumbnail %}" alt="{{project.project_name}} dropmint project image"/>
          <div class="card-header">
            
            {{project.no_of_winners}} Winner(s)
          </div>

          <div class="card-body">
            <h5 class="card-title">{{project.project_name}}</h5>
             <p class="card-text"> Ends in {{project.project_end_date}} </p>
            <a href="/project/{{project.project_id}}" class="btn btn-primary">Check out</a>
          </div>
          <div class="card-footer text-muted">
            {{project.project_date}}
          </div>
        </div>
    {% endfor %}
  </div>
</div>

<nav class='container' aria-label="...">
  <ul class="pagination justify-content-center align-items-center">
    {% if page_obj.has_previous %}
    <li class="page-item ">  
      <a href="/projects/{{ page_obj.previous_page_number }}" class="page-link bg-dark text-white">Previous</a>
    </li>
    <li class="page-item disabled"><a class="page-link bg-dark" href="#">{{ page_obj.previous_page_number}}</a></li>
    {% else %}
    <li class="page-item disabled">  
        <a href="" class="page-link bg-dark ">Previous</a>
    </li>
    {% endif %}

    

    <li class="page-item active "><a class="page-link bg-dark py-2 border-white" href="#">{{ page_obj.number }}</a></li>
    
    
    
    {% if page_obj.has_next %}
    <li class="page-item disabled" aria-current="page">
        <a class="page-link bg-dark" href="#">{{ page_obj.next_page_number }}</a>
      </li>
    <li class="page-item">
        <a class="page-link bg-dark text-white" href="/projects/{{ page_obj.next_page_number }}">Next</a>
      </li>
    {% else %}
    <li class="page-item disabled">  
        <a href="" class="page-link bg-dark ">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>


<div class="container-fluid bg-dark">
  <footer class="py-3 mt-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">About</a></li>
    </ul>
    <p class="text-center text-white">&copy; 2022 Twiitter-mint, Inc</p>
  </footer>
</div>




{% endblock  %}