{% extends 'base.html' %}
{% load static %}
{% load tz %}


{% block title %}
{{context.project_name}}
{% endblock  %}

{% block content %}
<div class='top-image-cont'><div 
	style='
	background-image: url("{{context.project_image.url}}");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	'
	class="container-fluid top-image" alt="..."></div></div>

<div class="container-lg mx-auto mb-5">
    <div class="row mx-lg- mt-2">
        <div class="col-xs-12 col-lg-8  col-md-6">
            <div class="card">
              <h5 class="card-title position-absolute right-0">
              </h5>
              
              <h1 class="card-header mt-2">
                {{context.project_name}}
              </h1>
              
              <div class="row container text-muted">
                <div class="col">
                  <div class='row'>Registration Ends</div>
                  <div class='row text-danger'>{{context.project_end_date|timeuntil}}</div>
                  
                </div>
                <div class="col">
                  <div class='row'>Time to complete</div>
                  <div class='row'>{{estimated}} seconds</div>
                </div>
                <div class="col">
                  <div class='row'>Number of winners</div>
                  <div class='row'>{{context.no_of_winners}}</div>
                </div>
                <div class='row mt-4'>Official Link</div>
                <div class='row'>
                  <div class='col'>
                    <i class="fa-solid fa-link"></i>
                    <a href='{{context.project_link}}' target='__blank'>{{context.project_link}}</a>
                  </div>
                </div>
              </div>
              
              
            </div>
        </div>
        <div class="col-xs-12 register-card col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Register</h5>
                  
                  <p class="card-text">Follow the steps to add yourself to this list.</p>
                  <p class="card-header mt-2">
                    <span class='text-primary fw-bold'>REQUIREMENTS.</span> TO REGISTER, YOU MUST:
                  </p>
                  <div class="accordion" id="accordionExample">
                    
                    <ul class="list-group list-group-flush">
                      <div class='my-2 d-flex justify-content-between align-items-center'>
                        {% if user.is_authenticated %}
                        <a href="{% url 'login' %}" class="btn btn-primary disabled">Connected</a>
                        <span class='col-4 text-end'>{{ user.username }}</span>
                        
                        {% else %}
						            <p><i class="fa-solid fa-circle-dot text-primary"></i><span class='mx-2'>Connect Twitter</span></p>
                        <a href="/connect_twitter?next={{request.path}}" class="btn rounded-pill btn-success">Connect</a>
                        {% endif %}
                      </div>
                    </ul>
					
                    {% if context.twitter_follow %}
                    	<div class='action checkfollow my-0 d-flex justify-content-between align-items-center'>
                        <div class='d-flex flex-row align-items-center'>
                          <i class="fa-brands fa-twitter text-primary"></i>
                        {% spaceless %}
                        <p class='mx-1'>
                          Follow {% for screen_name in screen_names %}<a href="https://twitter.com/intent/follow?screen_name={{screen_name}}" onclick='window.open(this.href,"targetWindow","menubar=1,resizable=yes,width=600,height=550"); return false;' data-show-count='false' data-show-screen-name='false' class='fw-bold'>{{screen_name}}</a>, {% endfor %}</p>
                          {% endspaceless %}
                      </div>					
                      </div>

                    {% endif %}
                    {% if context.twitter_like %}
					<div class='action checklike d-flex justify-content-between align-items-center'>
						<p>
							<i class="fa-brands fa-twitter text-primary"></i>
							Like
							<a href="https://twitter.com/intent/like?tweet_id={{tweet_id}}" onclick='window.open(this.href,"targetWindow","menubar=1,resizable=yes,width=600,height=550"); return false;' data-show-count='false' data-show-screen-name='false' class='fw-bold'>Tweet</a>
						</p>					
					</div>
                    {% endif %}
                    {% if context.twitter_retweet %}
						<div class='action checkretweet d-flex justify-content-between align-items-center'>
							<p>
								<i class="fa-brands fa-twitter text-primary"></i>
								Retweet
								<a href="https://twitter.com/intent/retweet?tweet_id={{tweet_id}}" onclick='window.open(this.href,"targetWindow","menubar=1,resizable=yes,width=600,height=550"); return false;' data-show-count='false' data-show-screen-name='false' class='fw-bold'>Tweet</a>
							</p>					
						</div>
            {% endif %}
            
              {% if context.twitter_mention_count > 0 %} 
              <div class='action checkmention d-flex justify-content-between align-items-center'>
              <p>
                <i class="fa-brands fa-twitter text-primary"></i>
                Mention {{context.twitter_mention_count}} twitter user{{context.twitter_mention_count |pluralize }} on
                <a href="https://twitter.com/intent/tweet?in_reply_to={{tweet_id}}" onclick='window.open(this.href,"targetWindow","menubar=1,resizable=yes,width=600,height=550"); return false;' data-show-count='false' data-show-screen-name='false' class='fw-bold'>Tweet</a></p>
              </div>
              {% elif context.twitter_comment %}
              <div class='action checkcomment d-flex justify-content-between align-items-center'>
                <p>
                  <i class="fa-brands fa-twitter text-primary"></i>
                  Comment on
                  <a href="https://twitter.com/intent/tweet?in_reply_to={{tweet_id}}" onclick='window.open(this.href,"targetWindow","menubar=1,resizable=yes,width=600,height=550"); return false;' data-show-count='false' data-show-screen-name='false' class='fw-bold'>Tweet</a>
                </p>					
              </div>
              {% endif %}
                    {% if context.twitter_followers %}
						<div class='action checkfollowers d-flex justify-content-between align-items-center'>
							<p >
								<i class="fa-brands fa-twitter text-primary"></i>
								Min Followers: 
								{{context.twitter_least_followers}}
							</p>
						</div>
                      	
                    {% endif %}
                    {% if context.twitter_account_created %}
                    <div class='action checkmonth d-flex justify-content-between align-items-center'>
						<p>
						<i class="fa-brands fa-twitter text-primary"></i>
                          Account Creation least Month: {{context.twitter_account_months}}
                        </p>
                    </div>
                    {% endif %}
                    {% if context.least_wallet_balance != 0 or context.wallet_type != 'NIL'  %}
                    <div class='balance d-flex justify-content-between'>
                      <p>
                        <i class="fa-solid fa-wallet text-secondary"></i>
                        Minimum wallet balance: {{context.least_wallet_balance}} {{context.wallet_type}}
                      </p>
                    </div>
                    {% endif %}
                    <form class='complete_form' method='POST' >
                      {% csrf_token %}
                      <div class="">
                        {% if context.email_required %}
                        <label for="email" class="form-label">Email address</label>
                        <div class="input-group">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-envelope"></i></span>
                        <input maxlength='50' minlength='6' {%if status is False%}disabled{%endif%} value="{%if twitter_user.email is not None%}{{twitter_user.email}}{%endif%}" required pattern='.{6,}' type="email" class="form-control" id="email" name='email' aria-describedby="emailHelp">
                        </div>
                        <div id="emailHelp" class="form-text">This email will be used to contact you when you win.</div>
                        
                        {% endif %}
                        {% if context.wallet_type == 'ETH' %}
                        <label for="eth" class="form-label">Wallet address(ETH)</label>
                        <div class="input-group">
                          <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-wallet"></i></span>
                          <input required pattern='.{5,}' {%if status is False%}disabled{%endif%}
                           maxlength='42' minlength='40' type="text" value="{%if twitter_user.eth_wallet_id is not None%}{{twitter_user.eth_wallet_id}}{%endif%}" class="form-control" id="eth" name='eth'>
                        <div class="valid-feedback">
                          Looks good!
                        </div>
                        <div class="invalid-feedback">
                          Please enter valid wallet id.
                        </div>
                        </div>
                        {% endif %}
                        {% if context.wallet_type == 'SOL' %}
                        <label for="sol" class="form-label">Wallet address(SOL)</label>
                        <div class="input-group">
                          <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-wallet"></i></span>
                          <input maxlength='44' minlength='32' {%if status is False%}disabled{%endif%} type="text" pattern='.{5,}' required value="{%if twitter_user.eth_wallet_id is not None%}{{twitter_user.eth_wallet_id}}{%endif%}" class="form-control" id="sol" name='sol'>
                        <div class="invalid-feedback">
                          Please enter valid wallet id.
                        </div>
                        <div class="valid-feedback">
                          Looks good!
                        </div>
                          
                        </div>
                        {% endif %}
                      </div>
                      <div class="card-body text-center complete_loader position-relative">
                        {% if not user.is_authenticated %}
                          <button type='submit' class="btn disabled btn-success btn-block btn-large">Sign in required</button>
                        {% elif registered %}
                          <button type='submit' class="btn btn-success btn-block disabled btn-large">Registered</button>
                        {% elif not context.status or not status %}
                        <button type='submit' class="btn btn-success btn-block disabled btn-large">Project Ended</button>
                        {% else %}
                        <button type='submit' class="btn btn-success btn-block btn-large">Complete Registration</button>
                        {% endif %}
                      </div>
                    </form>
                    {% if context.referral_required and user.is_authenticated %}
                    <div class="card-body text-center">
                    {% if referral_code %}
                    <input type="text" class="form-control" value="{{referral_code}}" id="referral_code" readonly>
                    <a href='https://twitter.com/intent/tweet?text={{referral_code}}' class="mt-3 btn btn-primary btn-block btn-large"> Share <i class="fa-brands fa-twitter text-white pl-2"></i></a>
                    <p>{{referral.referrals.all.count}} {{ referral.referrals.all.count|pluralize:"person,people" }} joined using your referral code.</p>
                    {% else %}
                    <a href="/project/{{context.project_id}}/referral" class="request_referral text-center btn btn-danger btn-block btn-large">Request referral code</a>
                    {% endif %}
                    </div>
                    {% endif %}
                  </div>                
                </div>
              </div>
        </div>
		<div class="col-xs-12 col-lg-8 col-md-6 mt-4">
			<div class='d-flex flex-column'>
				<div class="card">
					<p class="card-text p-3"> {{context.project_description |linebreaksbr}} </p>   
				</div>
				<div class='card mt-4'>
					<div class="card-text">
						<div class="accordion" id="accordionFlushExample">
							<div class="accordion-item">
								<h2 class="accordion-header" id="flush-headingOne">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
									Preview Tweet
									</button>
								</h2>
								<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
									<div class="accordion-body">{{context.twitter_embed_html | safe }}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
	    </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Error Occured</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">       
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
		
      </div>
      <div class='container-fluid toast_cont'>
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
          <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <strong class="me-auto">Message</strong>
              <small>Just now</small>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
              <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </symbol>
              
              <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </symbol>
            </svg>
            <div class="toast-body">
            </div>
          </div>
        </div>
      </div>
  {% endblock  %}
  {% block script %}
  {% comment %} <script src='{% static 'mint/scripts/jquery.countdown.js' %}' type="text/javascript"></script> {% endcomment %}
  <script type="text/javascript">
    _NBSettings = {
    apiKey: 'public_55be3e152313a53650554d66e8bc8944',
    ajaxMode: true,
    inputLatency: 2000,
    displayPoweredBy: false,
    autoFieldHookup: false,
  }
  </script>
  <script type="text/javascript" src="https://cdn.neverbounce.com/widget/dist/NeverBounce.js"></script>
  {% comment %} <script type='module'>
    import {countDown} from '{% static 'mint/scripts/global.js' %}'
    console.log(`{{context.project_end_date|localtime }} {{context.project_end_date|time:"H:i:s"| localtime }}`, `{% now "U" %}`)
    countDown(`{{context.project_end_date |date:"SHORT_DATE_FORMAT"}} {{context.project_end_date|time:"H:i:s"}}`, `{% now "U" %}`)
  </script> {% endcomment %}
  {% if user.is_authenticated %}
  <script type='module' src="{% static 'mint/scripts/script.js' %}"></script>
  <script type='module'>
    import {assignVariables, handleAjax} from '{% static 'mint/scripts/script.js' %}'
    assignVariables(`{{context.wallet_type}}`, `{{context.least_wallet_balance}}`, `{{context.project_id}}`, `{{csrf_token}}`)
    $(document).ready(function(){
      setTimeout(function () {
        {% if context.twitter_mention_count > 0 %}
          handleAjax(`{{context.project_id}}`,true)
        {%else%}
          handleAjax(`{{context.project_id}}`,false)
        {% endif %}
        }, 1000)
      });
      {% if status %}
      $(window).focus(function(){
        {% if context.twitter_mention_count > 0 %}
          handleAjax(`{{context.project_id}}`,true)
        {%else%}
          handleAjax(`{{context.project_id}}`,false)
        {% endif %}
      })
      {%endif%}
  </script>
 
  {% endif %}
  {% endblock  %}
      
