{% extends 'base.html' %}

{% block title %}
{{context.project_name}}
{% endblock  %}
{% block content %}
<div class="container-fluid">
  
    <div class="row mx-lg-3 my-5">
        <div class="col-xs-12 col-md-6 ">
            <div class="card">
              <h5 class="card-title position-absolute right-0">
                <button type="button" class="btn btn-primary">
                  Registered <span class="badge bg-danger">{{count}}</span>
                </button>
              </h5>
              <img src="{{context.project_image.url}}" class="card-img-top" alt="...">
              <h5 class="card-header">
                {{context.project_name}}
              </h5>
              <div class="card-body">
                <p class="card-text"> {{context.project_description}} </p>   
              </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 ">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Register</h5>
                  <p class="card-text">Follow the steps to add yourself to this list.</p>
                  <p> Required fields are marked with an asterisk (*).</p>
                  <div class="accordion" id="accordionExample">
                    <div>{{context.twitter_embed_html | safe }}</div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        {% if user.is_authenticated %}
                        <a href="{% url 'login' %}" class="btn btn-primary disabled">Connected</a>
                        {{ user.username }}
                        {% else %}
                        <a href="/connect_twitter?next={{request.path}}" class="btn btn-primary">Connect Twitter</a>
                        {% endif %}
                      </li>
                    </ul>
                    {% if context.twitter_follow %}
                    <div class="accordion-item border-top">
                      <h2  class="accordion-header checkfollow" id="headingOne">
                        <button 
                          class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Follow @{{context.twitter_follow_username}}
                        </button>
                        <p id='tooltip' class='tooltipOne' data-bs-trigger='click'  data-bs-toggle='tooltip' data-bs-placement='bottom' title='y' ></p>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          {% comment %} <a class="twitter-follow-button" target='__blank' href="https://twitter.com/{{context.twitter_follow_username}}" data-size="large" data-show-count='false' data-show-screen-name='false'> Follow</a>
                           {% endcomment %}

                            <a class="badge btn btn-primary btn-lg" href="https://twitter.com/intent/follow?screen_name={{context.twitter_follow_username}}" data-size="large" onclick='window.open(this.href,"targetWindow","menubar=1,resizable=yes,width=600,height=550"); return false;' data-show-count='false' data-show-screen-name='false'>
                              <i class="fa-brands fa-twitter"></i>
                              Follow
                              </a>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    {% if context.twitter_like %}
                    <div class="accordion-item">
                      <h2 class="checklike accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           Like Tweet 
                        </button>
                        <p id='tooltip' class='tooltipTwo' data-bs-trigger='click'  data-bs-toggle='tooltip' data-bs-placement='bottom' title='y' ></p>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <a class="badge btn btn-primary" href="https://twitter.com/intent/like?tweet_id={{tweet_id}}" onclick='window.open(this.href,"targetWindow","menubar=1,resizable=yes,width=600,height=550"); return false;' data-show-count='false' data-show-screen-name='false'><i class="fa-brands fa-twitter"></i> Like</a>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    {% if context.twitter_retweet %}
                    <div class="accordion-item">
                      <h2 class="checkretweet accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Retweet
                        </button>
                        <p id='tooltip' class='tooltipThree' data-bs-trigger='click'  data-bs-toggle='tooltip' data-bs-placement='bottom' title='y' ></p>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <a class="badge btn btn-primary" href="https://twitter.com/intent/retweet?tweet_id={{tweet_id}}" onclick='window.open(this.href,"targetWindow","menubar=1,resizable=yes,width=600,height=550"); return false;'><i class="fa-brands fa-twitter"></i> Retweet</a>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    {% if context.twitter_comment %}
                    <div class="accordion-item">
                      <h2 class="checkcomment accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          Comment
                        </button>
                        <p id='tooltip' class='tooltipFour' data-bs-trigger='click'  data-bs-toggle='tooltip' data-bs-placement='bottom' title='y' ></p>
                      </h2>
                      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <a class="badge btn btn-primary" target='__blank' href="https://twitter.com/intent/tweet?in_reply_to={{tweet_id}}" onclick='window.open(this.href,"targetWindow","menubar=1,resizable=yes,width=600,height=550"); return false;'><i class="fa-brands fa-twitter"></i> Comment</a>
                        </div>
                      </div>
                    </div>

                    {% endif %}
                    {% if context.twitter_followers %}
                    <div class="accordion-item">
                      <h2 class="checkfollowers accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          Followers
                        </button>
                        <p id='tooltip' class='tooltipFive' data-bs-trigger='click'  data-bs-toggle='tooltip' data-bs-placement='bottom' title='y' ></p>
                      </h2>
                      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          You should have a minimum of {{context.twitter_least_followers}} followers
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    {% if context.twitter_account_created %}
                    <div class="accordion-item">
                      <h2 class="checkyears accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                          Account months
                        </button>
                        <p id='tooltip' class='tooltipSix' data-bs-trigger='click'  data-bs-toggle='tooltip' data-bs-placement='bottom' title='y' ></p>
                      </h2>
                      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          Your account should be more than {{context.twitter_account_months}} month(s) old
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    <form class='mt-3 complete_form' method='POST' >
                      {% csrf_token %}
                      <div class="mb-3">
                        {% if context.email_required %}
                        <label for="email" class="form-label">Email address</label>
                        <input maxlength='50' minlength='5' value="{{twitter_user.email}}" required='required' type="email" class="form-control" id="email" name='email' aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">This email will be used to contact you when you win.</div>
                        {% endif %}
                        {% if context.wallet_type == 'ETH' %}
                        <label for="eth" class="form-label mt-3">Wallet address(ETH)</label>
                        <input required='required' maxlength='35' minlength='26' type="text" value="{{twitter_user.eth_wallet_id}}" class="form-control" id="eth" name='eth'>
                        {% endif %}
                        {% if context.wallet_type == 'SOL' %}
                        <label for="sol" class="form-label mt-3">Wallet address(SOL)</label>
                        <input maxlength='35' minlength='26' type="text" required='required' value="{{twitter_user.sol_wallet_id}}" class="form-control" id="sol" name='sol'>
                        {% endif %}
                      </div>
                      <div class="card-body text-center complete_loader position-relative">
                        {% if not user.is_authenticated %}
                          <button type='submit' class="btn disabled btn-success btn-block btn-large">Sign in required</button>
                        {% elif registered %}
                          <button type='submit' class="btn btn-success btn-block disabled btn-large">Registered</button>
                        {% elif not context.status %}
                        <button type='submit' class="btn btn-success btn-block disabled btn-large">Project Ended</button>
                        {% else %}
                        <button type='submit' class="btn btn-success btn-block btn-large">Complete Registration</button>
                        {% endif %}
                      </div>
                    </form>
                  </div>                
                </div>
              </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Error Occured</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">       
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class='container-fluid toast_cont'>
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
          <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <strong class="me-auto">Error</strong>
              <small>Just now</small>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
              <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </symbol>
              
              <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </symbol>
            </svg>
            <div class="toast-body">
            </div>
          </div>
        </div>
      </div>
      {% if user.is_authenticated %}
      {% block script %}
      <script type="text/javascript">   
        $('.checklike').click(function(){
        $.ajax(
        {
            type:"GET",
            url: "/checklike/{{context.project_id}}",
            timeout:10000,
            beforeSend: function(){
              $('[aria-controls="collapseTwo"]').append("<div class='d-flex spinner-border spinner2 text-dark position-absolute' role='status' style='right: 10%;'><span class='sr-only'>Loading...</span></div>")
              $('[aria-controls="collapseTwo"]').attr('disabled', true)
            },
            success: function( data ) 
            {
              
              if (data === 'True') {
                $('.tooltipTwo').attr('title','You have liked the tweet').tooltip('update').tooltip('show');
                setTimeout(function () {
                  $('.tooltipTwo').tooltip('dispose');
                }, 2000)
                
              } 
              
              else if (data === 'False'){
                $('.tooltipTwo').attr('title', 'You havent liked the tweet').tooltip('update').tooltip('show');
                setTimeout(function () {
                  $('.tooltipTwo').tooltip('dispose');
                }, 2000)
                
              }

                
            },
            complete: function(){
                            $('.spinner2').remove()
              $('[aria-controls="collapseTwo"]').attr('disabled', false)
              
            },
            error: function (xhr, ajaxOptions, thrownError) {
              $('.modal-body').text(thrownError)
              $('.modal').modal('show')
            }
          })
        });
        $('.checkfollow').click(function(){
          
          $.ajax(
          {
              type:"GET",
              url: "/checkfollow/{{context.project_id}}",
              timeout: 10000,
              beforeSend: function(){
                $('[aria-controls="collapseOne"]').append("<div class='d-flex spinner-border spinner1 text-dark position-absolute' role='status' style='right: 10%;'><span class='sr-only'>Loading...</span></div>")
                $('[aria-controls="collapseOne"]').attr('disabled', true)
              },
              success: function( data ) 
              {
                
                if (data === 'True') {
                  $('.tooltipOne').attr('title','You have followed this user').tooltip('update').tooltip('show');
                  
                  setTimeout(function () {
                    $('.tooltipOne').tooltip('dispose');
                  }, 2000)
                  
                } 
                
                else if (data === 'False'){
                  $('.tooltipOne').attr('title', 'You havent followed this user').tooltip('update').tooltip('show');
                  setTimeout(function () {
                    $('.tooltipOne').tooltip('dispose');
                  }, 2000)
                  
                }
                  
              },
              complete: function() {
                $('.spinner1').remove()
                $('[aria-controls="collapseOne"]').attr('disabled', false)
              },
              error: function (xhr, ajaxOptions, thrownError) {
                $('.modal-body').text(thrownError)
                $('.modal').modal('show')
              }
            })
          });

          $('.checkretweet').click(function(){
            
            $.ajax(
            {
                type:"GET",
                url: "/checkretweet/{{context.project_id}}",
                timeout:10000,
                beforeSend: function(){
                  $('[aria-controls="collapseThree"]').append("<div class='d-flex spinner-border spinner3 text-dark position-absolute' role='status' style='right: 10%;'><span class='sr-only'>Loading...</span></div>")
                  $('[aria-controls="collapseThree"]').attr('disabled', true)
                },
                success: function( data ) 
                {
                  
                  if (data === 'True') {
                    $('.tooltipThree').attr('title','You have retweeted this tweet').tooltip('update').tooltip('show');
                    setTimeout(function () {
                      $('.tooltipThree').tooltip('dispose');
                    }, 2000)
                    
                  } 
                  
                  else if (data === 'False'){
                    $('.tooltipThree').attr('title', 'You havent retweeted this tweet').tooltip('update').tooltip('show');
                    setTimeout(function () {
                      $('.tooltipThree').tooltip('dispose');
                    }, 2000)
                    
                  }
                 
                    
                },
                complete: function() {
                  $('.spinner3').remove()
                  $('[aria-controls="collapseThree"]').attr('disabled', false)
                },
                error: function (xhr, ajaxOptions, thrownError) {
                  $('.modal-body').text(thrownError)
                  $('.modal').modal('show')
                },
              })
            });
            $('.complete_form').submit(function(e){
              e.preventDefault();
              $.ajax(
                {
                  type:"POST",
                  url: "/project/{{context.project_id}}/verify",
                  data: {
                    'email': $('#email').val(),
                    'eth': $('#eth').val(),
                    'sol': $('#sol').val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                  },
                  timeout: 25000,
                  beforeSend: function(){
                    $('.complete_loader').append("<div class='d-flex align-items-center spinner-border spinner9 text-dark position-absolute' role='status' style='right: 5%; top: 20px; '><span class='sr-only'>Loading...</span></div>")
                    $('button[type="submit"]').attr('disabled', true)
                  },
                  success: function( data ) 
                  {
                    myToastEl = $('#liveToast')
                    var myToast = bootstrap.Toast.getOrCreateInstance(myToastEl)
                    if (data.constructor == Array || data.constructor == Object){
                      if (data.like_state == true){
                        $('.toast-body').append('<div class=" container-fluid alert alert-success d-flex align-items-center" role="alert"><svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg><div>You liked the tweet!</div></div>')
                      }
                      else if (data.like_state == false) {
                        $('.toast-body').append('<div class="alert alert-danger d-flex align-items-center" role="alert" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg><div>You didnt like this  tweet!<div></div>')
                      }
                      if (data.follow_state == true){
                        $('.toast-body').append('<div class=" container-fluid alert alert-success d-flex align-items-center" role="alert"><svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg><div>You followed the user!</div></div>')
                      }
                      else if (data.follow_state == false) {
                        $('.toast-body').append('<div class="alert alert-danger d-flex align-items-center" role="alert" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg><div>You didnt follow the user!<div></div>')
                      }
                      if (data.retweet_state == true){
                        $('.toast-body').append('<div class=" container-fluid alert alert-success d-flex align-items-center" role="alert"><svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg><div>You retweeted the tweet!</div></div>')
                      }
                      else if (data.retweet_state == false) {
                        $('.toast-body').append('<div class="alert alert-danger d-flex align-items-center" role="alert" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg><div>You didnt retweet the tweet!<div></div>')
                      }
                      if (data.comment_state == true){
                        $('.toast-body').append('<div class=" container-fluid alert alert-success d-flex align-items-center" role="alert"><svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg><div>You commented on the tweet!</div></div>')
                      }
                      else if (data.comment_state == false) {
                        $('.toast-body').append('<div class="alert alert-danger d-flex align-items-center" role="alert" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg><div>You didnt comment on the tweet!<div></div>')
                      }
                      if (data.followers_state == true){
                        $('.toast-body').append('<div class=" container-fluid alert alert-success d-flex align-items-center" role="alert"><svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg><div>You have the minimum number of followers!</div></div>')
                      }
                      else if (data.followers_state == false) {
                        $('.toast-body').append('<div class="alert alert-danger d-flex align-items-center" role="alert" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg><div>You dont have the minimum number of followers!<div></div>')
                      }
                      if (data.followers_state == true){
                        $('.toast-body').append('<div class=" container-fluid alert alert-success d-flex align-items-center" role="alert"><svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg><div>Your account met the minimum creation month requirement!</div></div>')
                      }
                      else if (data.followers_state == false) {
                        $('.toast-body').append('<div class="alert alert-danger d-flex align-items-center" role="alert" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg><div>Your account doesnt meet the month creation requirement!<div></div>')
                      }
                      $('button[type="submit"]').attr('disabled', false)
                    }
                    else {
                      console.log(data)
                      if (data == 290){
                        $('.toast-body').append('<div class=" container-fluid alert alert-success d-flex align-items-center" role="alert"><svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg><div>Registration complete!</div></div>')
                        $('button[type="submit"]').attr('disabled', true)
                        $('button[type="submit"]').text('Registered')
                        
                      } else if (data == 300) {
                        $('.toast-body').append('<div class="alert alert-danger d-flex align-items-center" role="alert" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg><div>You are already registered!!!<div></div>')
                        $('button[type="submit"]').attr('disabled', true)
                        $('button[type="submit"]').text('Registered')
                      } else {
                        $('.toast-body').append('<div class="alert alert-danger d-flex align-items-center" role="alert" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg><div>Unknown Error, Contact admin!!<div></div>')
                        $('button[type="submit"]').attr('disabled', false)
                      }
                    }  
                    myToast.show()
                    setTimeout(function () {
                      $('.toast-body').empty();
                    }, 6000)
                  },
                  complete: function() {
                    $('.spinner9').remove()
                  },
                  error: function (xhr, ajaxOptions, thrownError) {
                    $('.modal-body').text(thrownError)
                    $('.modal').modal('show')
                    $('button[type="submit"]').attr('disabled', false)
                  }
                })}
              )
            
      </script>
      {% endblock  %}
      
      {% endif %}
{% endblock  %}