{% extends 'base.html' %}

{% block title %}
Verify
{% endblock  %}
{% block content %}

<div class="container">
    <form class='mt-5 text-white' method='POST' >
        {% csrf_token %}
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name='email' aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text text-white">We'll never share your email with anyone else.</div>
          <label for="eth" class="form-label mt-3">Wallet address(ETH)</label>
          <input type="text" class="form-control" id="eth" name='eth'>
          <label for="sol" class="form-label mt-3">Wallet address(SOL)</label>
          <input type="text" class="form-control" id="sol" name='sol'>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    
</div>

{% endblock  %}