{% extends 'base.html' %}

{% block title %}
Verify
{% endblock  %}
{% block content %}

<div class="container">
    <form class='mt-5 text-white' method='POST' >
        {% csrf_token %}
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name='email' aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text text-white">We'll never share your email with anyone else.</div>
          <label for="wallet_id" class="form-label mt-3">Wallet address</label>
          <input type="text" class="form-control" id="wallet_id" name='wallet_id'>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    
</div>

{% endblock  %}