body {
    font-family: 'Source Sans Pro', sans-serif;
}
.register-card {
    position: relative;
}
.register-card .card {
    position: absolute;
    top: -50% ;
    transform: scale(0.9);
}
.card {
    border-radius: 10px;
    box-shadow: 0 0 2rem 0.3rem rgba(0, 0, 0, 0.171);
    
}
.top-image-cont {
    height: 20vh;
}

.register-card p {
    margin: 2px 0;
    padding: 2px 0;
}
@media screen and (max-width: 780px) {
    .register-card .card {
        position: static;
        transform: scale(1);
    }   
}
