body {
    font-family: 'Source Sans Pro', sans-serif;
}
.register-card {
    position: relative;
}
.register-card .card {
    position: absolute;
    top: -50% ;
    transform: scale(0.86);
}
.card {
    border-radius: 10px;
    box-shadow: 0 0 2rem 0.3rem rgba(0, 0, 0, 0.171);
    
}
.input-group div{
    width: 85%;
}
.top-image-cont {
    height: 20vh;
}
.project-row {
    --bs-gutter-x: 0;
}

.register-card p {
    margin: 2px 0;
    padding: 2px 0;
}
.checkfollow p {
    width: 85%;
}
@media screen and (max-width: 120px) {
    .register-card .card {
        transform: scale(0.9);
    }
}
@media screen and (max-width: 992px) {
    .input-group div{
        width: 80%;
    }
}
@media screen and (max-width: 768px) {
    .register-card .card {
        position: static;
        transform: scale(1);
    }   
    .input-group div{
        width: 85%;
    }
    .checkfollow p {
        width: 100%;
    }
}

